@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}



<h3>Profile</h3>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br /><br /><br /><br />

            

            <div class="avatar-div" title="choose your avatar">
            <a asp-page="./SelectAvatar">
                @{ <img src="@Model.UserAvatarName" id="photo" height="200" width="200">}



                <input type="file" id="file">
                <label for="file" id="uploadBtn"></label>
            </a>
        </div>
            <br /><br /><br /><br />

            




            <style>
                .avatar-div {
                    height: 150px;
                    width: 150px;
                    position: absolute;
                    top: 15%;
                    right: 15%;
                    transform: translate(-50%,-50%);
                    border-radius: 50%;
                    overflow: hidden;
                    border: 1px solid grey;
                }

                #photo {
                    height: 100%;
                    width: 100%;
                }

                /*#file {
                    display: none;
                }*/

                /*#uploadBtn {
                    height: 150px;
                    width: 150px;
                    position: absolute;
                    top: 15%;
                    right: 15%;
                    transform: translateX(-50%);
                    text-align: center;
                    background: rgba(0, 0, 0, 0.7);
                    color: wheat;
                    line-height: 30px;
                    font-family: sans-serif;
                    font-size: 15px;
                    cursor: pointer;
                    display: none;
                }*/
            </style>


            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" disabled />
            </div>

            <label for="genders">Choose your gender:</label><br />

            <div class="form-group">
                <select asp-for="@Model.UserGender" class="form-control" asp-items="@Model.Genders">
                    <option value="">-- Select your gender --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Nonbinary">Nonbinary</option>
                    <option value="Don't want to say">Don't want to say</option>

                </select>
                <span asp-validation-for="@Model.UserGender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Input.Introduction"></label>
                <input asp-for="Input.Introduction" class="form-control" />
                <span asp-validation-for="Input.Introduction" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}