@page
@model ZPool.Areas.Identity.Pages.Account.Manage.SuccessfullyDeletedAccountModel
@{
}
<div class="text-center">
    <h1 class="display-4">Your account has been successfully deleted!</h1>
    <p>We hope you enjoyed our application and will get back soon.</p>
</div>