@page
@model ZPool.Areas.Identity.Pages.Account.Manage.WhoBookTheRideModel
@{
    ViewData["Title"] = "Who Book The Ride";
    ViewData["ActivePage"] = ManageNavPages.MyRides;
}

<h3>Who book the following ride</h3>
<hr />
<div>
    <form method="post">
        <dl class="row">

            <dt class="col-sm-2">  Start  </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.MyRide.StartTime)   </dd>

            <dt class="col-sm-2">  From   </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.MyRide.DepartureLocation)  </dd>     
            
            <dt class="col-sm-2">  To
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.MyRide.DestinationLocation) </dd>
            
            <dt class="col-sm-2">  By </dt>
            <dd class="col-sm-10"> @Html.DisplayFor(model => model.MyRide.Car.Brand) </dd>
        </dl>
        <hr /><br />




        <br /><hr />
        <input type="hidden" asp-for="MyRide.RideID" />
        <a asp-page="./MyRides">Back to List</a>
    </form>
</div>