@page
@model ZPool.Pages.Shared.ContactUsModel
@{
}

<h1>Did you find anything what you want to tell us?</h1>
<h2>Write us an email!</h2>
<h4>This application was created by</h4>
<dl class="row">

    <dt class="col-sm-2">
        Nohely Ludwiska Ortiz Gedeon
    </dt>
    <dd class="col-sm-10">
        nohe0005@edu.easj.dk
    </dd>
    <dt class="col-sm-2">
        Sarah Wanjeri Bæk

    </dt>
    <dd class="col-sm-10">
        sara634m@edu.easj.dk

    </dd>
    <dt class="col-sm-2">
        Wenqi Huang

    </dt>
    <dd class="col-sm-10">
        wenq0012@edu.easj.dk

    </dd>
    <dt class="col-sm-2">
        Niko Dojan

    </dt>
    <dd class="col-sm-10">
        niko201n@edu.easj.dk

    </dd>
    <dt class="col-sm-2">
        Adriana Bojnanska

    </dt>
    <dd class="col-sm-10">
        adri2890@edu.easj.dk

    </dd>

</dl>



