@page
@model ZPool.Pages.Shared.FAQModel
@{
}
<div class="text-center">
    <h1>Frequently asked questions</h1>

    <p>
        <a class="btn btn-primary mt-3" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Driver
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">

            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Cars
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">

                            <h4>Why do I need to register my car?</h4>
                            <p>
                                In case you plan to be just a passenger who is using the application just for looking for rides and not for creating them, there is no need
                                for you to register your car. In the other case, when you also want to be the one who is driving the other people to the destinations, to create
                                the ride offers there is a need to have a car registered in your profile. Without it, it will not allow you to create a ride because no plate number will
                                be available in the list which is required field in the form.
                            </p>


                            <h4>What is needed for registering my car?</h4>
                            <p>
                                To register a car you need to be logged in or register. Except for this step, in the registration form are fields like brand, model, number of seats and number plate which are necessary to fill.
                                To get to the Registration form, check please the following How to register a car question.
                            </p>


                            <h4>How to register a car?</h4>
                            <p>
                                Before registering your car you need to be at first logged in or create a new profile. The first way how to register a car is to check the
                                checkbox with "I want to register a car" statement while registering. This way it will automatically move you to the form for car registration after you save the registration form for a user.
                                The other way when you are just logged in as a user, you need to open your personal profile page by clicking on your name up on the right side.
                                On this page you can see My cars option in which there is a button for creating a new car. After clicking on the button you are in the registration form for cars.
                                As soon as you save all the information the car is created and shown in your list of cars. For creating a car the necessary information are Brand,
                                Model, Number of seats and PlateNumber.
                            </p>

                            <p>In case you are still completely lost and have no idea how to access the registration form, here is the link but don't forget to be logged in!<br/> 
                            <a asp-area="Identity" asp-page="/Account/Manage/CreateCar">Create a car</a></p>
                            
                            <h4>Where can I see my registered cars?</h4>
                            <p>
                                You have to be logged in and have at least one car created. Just open your personal profile page by clicking on
                                your name up on the right side. On this page you can see My cars option on the left side in which the list of cars registered by you is shown.
                            </p>


                            <h4>How to edit a car?</h4>
                            <p>
                                You have to be logged in and have the car created to edit it. To do so, you need to open your personal profile page by clicking on
                                your name up on the right side. On this page you can see My cars option on the left side in which the list of cars registered by you is shown. On the right side of each car in
                                the end of the line is the option for Editing the car. After clicking on the link the page for editing is open. Be careful to choose the right car you want to edit. To make sure
                                you chose the right one, all the information are displayed on this Edit Page. If you find out you do not want to edit exactly this one car, you can easily click on the Back
                                to the list link in the end of the editing form and choose the right car. If you are sure you want to edit exactly this one car, write the new information where it is needed and click on the Save button in the end
                                of the form. After this action the list of your cars is displayed again with all the new information.
                            </p>



                            <h4>How to delete a car?</h4>
                            <p>
                                You have to be logged in and have the car created to delete it. To do so, you need to open your personal profile page by clicking on
                                your name up on the right side. On this page you can see My cars option on the left side in which the list of cars registered by you is shown. On the right side of each car in
                                the end of the line is the option for Deleting the car. After clicking on the button the page for deleting is open. Be careful to choose the right car you want to delete. To make sure
                                you chose the right one, all the information are displayed on this Delete Page. If you find out you do not want to delete exactly this one car, you can easily click on the Back
                                to the list link in the end and choose the right car. If you are sure you want to delete exactly this one car, click on the red Delete button. After
                                this action, the list of your cars is displayed again, but the car is not shown anymore as well as all its possibilities for creating a ride with this car are not available anymore.
                                After you delete a car, also all bookings and rides connected to this car are deleted.
                            </p>

                        </div>
                    </div>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Rides
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">


                                    <h4>What does it mean to create a ride?</h4>
                                    <p>
                                        If you want to offer a ride to other people who want to go to the same destination as you, you can create a ride. People can then make a booking of your ride and if
                                        you accept them, you will all drive to the destination together.
                                    </p>


                                    <h4>What will I get from processing a ride?</h4>
                                    <p>
                                        Our application is fully without money. It means, no one will pay you for driving him or her as well as you will not have to pay to anyone after the ride.
                                        Carpooling here is mainly about making new friendships and doing our world greener.
                                    </p>













                                    @*Here I stopped*@

                                    <h4>How to create a ride?</h4>
                                    <p>
                                        To create a ride you need to be logged in and have at least one car created in your list of cars on your personal profile page.
                                        After these two conditions are successfully completed, click on the rides page. Here you can see Create a new ride button which will move you to the
                                        form for filling all the necessary information. In case you decide to not create the ride, just click on the button Back to the list in the end of the page.
                                        Otherwise, in this one form, all the fields are required.After you fill all of them, click on Create button and you are going
                                        to be moved to List of rides where your newly created ride is available.
                                    </p>
                                    <h4>Where can I see the list of my rides?</h4>
                                    <p>
                                        You have to be logged in and have at least one ride created. Just open your personal profile page by clicking on
                                        your name up on the right side. On this page you can see My Rides on the left side option in which the list of rides created by you is shown.
                                    </p>

                                    <h4>How to edit a ride?</h4>
                                    <p>
                                        To edit a ride, you have to be logged in and have at least one ride created. Go to your personal profile page by clicking on your name up on the
                                        right side. Now on the left side choose the My rides option which shows the page with all your created rides.
                                    </p>
                                    <p style="color:red">Not finished yet? how will it be with Rides page?</p>


                                    <h4>How to cancel a ride?</h4>
                                    <p>
                                        To cancel a ride, you have to be logged in and have at least one ride created. Go to your personal profile page by clicking on your name up on the
                                        right side. Now on the left side choose the My rides option which shows the page with all your created rides. Each ride ha on the right side of lines the button for cancelling.
                                        After clicking on it you are going to be redirected to the page which asks you if you are really sure you want to delete the ride. Make sure you chose the right one by checking all the
                                        information on the current page and confirm it by clicking on Delete button. The ride will be immediately deleted and not shown for others anymore.
                                    </p>
                                    <p style="color:red">how will it be with Rides page?</p>


                                    @*Questions up need finished sites so that i know where everywhere i should redirect people*@



                                    <h4>Can I cancel the ride even if someone booked it?</h4>
                                    <p>
                                        In case the ride cannot happen because of any circumstances, you have the full right to cancel it without any fees anytime. So even if someone has booked your ride,
                                        you can still cancel it.
                                    </p>

                                    <h4>Can I reject someone who booked my ride?</h4>
                                    <p>If you do not want to drive with someone because of any reasons, you have the full right to reject the person.</p>


                                    <h4>How do I know if someone has booked my ride?</h4>
                                    <p>
                                        After another user books your ride, you will get a notification and also a message. All your notifications can be found under the bell next to your name up on the right side.
                                        Next to the notification bell, there are messages which will have a red circle around if you got some. Another place where you can find out if someone has booked your ride is on your personal profile page.
                                        There when you choose the My Rides option on the left side the list of the rides is displayed. Choose the ride for which you wish to see the bookings and click on the "Who booked the ride" link. To make sure
                                        you chose the right ride, all information are provided. Under these information, the people who has booked your ride are listed there also with their booking statuses. If you wish to check the accounts, just click
                                        on their avatar.
                                    </p>
                                    
                                    







                                    <h4>How to contact people who are taking my ride?</h4>
                                    <p></p>

                                    <p style="color:red">Is it just through the reply option in the messages?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p>
        <button class="btn btn-primary mt-3" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
            Passenger
        </button>
    </p>
    <div class="collapse" id="collapseExample1">
        <div class="card card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Bookings
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <h4>What does it mean to make a booking</h4>
                            <p>
                                If you want to join a ride with someone from one place to the other on exact date, you can make a booking of his or her ride. After the driver accept
                                your request you can drive together to your destination.
                            </p>
                            <h4>How to make a booking</h4>
                            <p>
                                You need to be logged in to book a ride. Go to the page with Rides where you find the specific ride for you. After you have one, click on the button
                                Details in the end of the line where is the ride. You will see the page with all details and the driver. On the right side, there is a button for booking
                                the ride. After you click on it, you will see your list of bookings with booking status. Now you have to wait until the driver accept or reject your request.
                            </p>
                            <h4>Is it possible to cancel my booking</h4>
                            <p>You can always cancel the booking if you cannot join the ride. You can do it on your own profile page in My bookings section.</p>
                            <h4>Where can I see my bookings?</h4>
                            <p>To see your bookings you need to be logged in. Open your personal profile page and choose My bookings section. Here you can see the list of all your bookings</p>
                            <h4>How do I know if my booking was accepted by the driver</h4>
                            <p></p>
                            <p style="color:red">Where it actually will be in the end?</p>



                            <h4>is it possible to cancel the booking even after the driver confirm it</h4>
                            <p>You can always cancel the booking if you cannot join the ride. You can do it on your own profile page in My bookings section.</p>
                            <h4>How to contact a driver who accepted my booking?</h4>
                            <p></p>
                            <p style="color:red">Messages function explained later</p>
                            <h4>How much does it cost</h4>
                            <p>Our application is fully without money. It means you will not be charged anything as well as no one will pay you for anything.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <p>
        <a class="btn btn-primary mt-3" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
            Everyone using the App
        </a>
    </p>


    <div class="collapse" id="collapseExample2">
        <div class="card card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Messages
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <h4>What are the messages for?</h4>
                            <p>The messages section is used by the driver and the passenger to correspond to each other</p>
                            <h4>How to send a message?</h4>
                            <p>There will be a pop up message on the screen. If you book a ride, the driver gets an automatic message . You can also write a message to the driver and ask for his phone number.</p>
                            <p style="color:red">Messages function explained later</p>
                            <h4>Where can i see the messages i received?</h4>
                            <p>The received message is available in the messages inbox.You can find it on the top on the right side next to the notification bell.</p>
                        </div>
                    </div>

                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Profile
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                                <div class="card-body">
                                    <h4>Where can I find my personal profile page?</h4>
                                    <p>To see your profile page you have to be logged in. Then just click up on the right side on your name and it will automatically redirect you to the profile.</p>
                                    <h4>What can be found on my profile</h4>
                                    <p>On your profile page you can see your personal information as well as all your cars, bookings and rides. You can also change your password here.</p>
                                    <h4>What others can see about me</h4>
                                    <p></p>
                                    <p style="color:red">Will be explained later when i find out :D </p>
                                    <h4>how to edit my information</h4>
                                    <p>
                                        To edit your personal information, open the profile page by clicking up on the right side on your name. Of course to see this button you need to be logged in.You will be
                                        redirected to your personal profile page with your information. You can add your gender and introduction here.
                                    </p>
                                    <h4>how to delete my account</h4>
                                    <p></p>
                                    <p style="color:red">Not done yet.. will we do it?</p>
                                    <h4>What if I forgot my password</h4>
                                    <p>
                                        When you click on log in, under the form and confirmation button, there is the Forgot your password button which will redirect to the page, where you
                                        just fil your email and the password will be sent there.
                                    </p>
                                    <p style="color:red">Will it be old one or new password?</p>



                                    <h4>How to change my password</h4>
                                    <p>
                                        After you log in, open your personal profile page by click on your name up on the right side of the page. You can see the list with different options
                                        from which choose the Password. The form for changing the password will be opened. After you insert the current and new passwords, just click on the button for
                                        updating it.
                                    </p>
                                </div>
                            </div>

                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                Registration
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                                        <div class="card-body">
                                            <h4>How do I register</h4>
                                            <p>
                                                To register yourself, click on the Register button up on the right side. You will be redirected to the registration form
                                                in which all the fields are necessary to insert. After you fill them, you can decide if you want to register also a car immediately or not.
                                                If you decide to do so, just check the checkbox and you will be redirected to the car registration form after confirming the information in the form.
                                                If you do not wish to register a car, you will be redirected to the main page after confirming the information. To find out more about why should you
                                                register your car, check the car section with questions
                                            </p>
                                            <h4>What is needed for registration</h4>
                                            <p>To register yourself you just need to fill your First and Last name, email and create original password.</p>
                                            <h4>Do I need to register also a car</h4>
                                            <p>
                                                You do not have to register your car if you plan to just join the rides and not do them on your own. In case you have not decided yet,
                                                you can easily add the car later. For more information how to do it, chech the How to register a car question in Car section.
                                            </p>
                                            <h4>What if I insert wrong information in the registration form</h4>
                                            <p>If the information you inserted and already saved are wrong, just check the question How to edit my information in Profile section</p>
                                            <p style="color:red">But actually we do not offer the possibility of changing the email, name or surname.. why? what if someone make a typo? </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>